@import "bourbon";
.sprite-age, .sprite-good, .sprite-eco,
.sprite-hand, .sprite-flower{
  @include background-image(url("../img/result.png") no-repeat);
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.sprite-age{
  width: 84px;
  height: 70px;
  background-position: -5px -156px;
}

.sprite-good{
   width: 84px;
   height: 70px;
   background-position: -5px -156px;
 }
.sprite-eco{
  width: 84px;
  height: 70px;
  background-position: -5px -156px;
}

.sprite-hand{
  width: 84px;
  height: 70px;
  background-position: -5px -156px;
}
.sprite-flower{
  width: 84px;
  height: 70px;
  background-position: -5px -156px;
}