@import "bourbon";
//back-image
@mixin backgroundImg($filename,$position:0 0,$repeat: no-repeat) {
  background: #fff url('#{$imagedir}#{$filename}') $repeat $position;
}


//font
@mixin title_lirge($font-family){
  font: {
    family: $font-family;
    size:em(49px);
  }
}

//border-radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

//box shadow

@mixin box-shadow($shadows) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}